/**
 * Base Resets
 */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
main {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: inherit;
	vertical-align: baseline;
	background: transparent;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	-webkit-text-size-adjust: none;
	height: 100%;
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

/**
 * Body Styles
 */
body {
	color: $body;
	display: block;
	line-height: $line-height-base;
	position: relative;
	background: $blue;

	#heronamedharley {
		overflow: hidden;
		background: linear-gradient(to top, $blue, $pink);
	}
}
